*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
}

p{
	font-family: 'Hind Madurai', sans-serif; 
}

.jumbotron hr{
	background-color: #fff;

}


#homeJumbotron{
	border-radius: 0; 
}

#jumbotron-section{
	height: 100vh;
}


#jumbo-land{
	height: 100vh;
	/*background-color: #333;*/
	border-radius: 0;
	padding-top: 5%;
}

.jumbotron h1,
.jumbotron p{
	color: #f2f2f2;
}


.btn a{
	text-decoration: none;
	color: #fff;
}

.navColor{
	background-color: /*#4e4233*/ rgb(78,66,51);
}

.navbar-brand img{
	height: 37px;
	width: 39px;
	
}

.verticalLine{
	border-left: 2px solid #f2f2f2;
	height: 30vh;
	float: left;
	/*padding-right: 0;*/
}

.myQuote{
	text-align: right;
	margin-top: 0;
	padding-top: 0;
}
.myQuote .verticallLine{
	height: 10vh;
}



.myQuote p{
	text-align: right;
	margin-top: 0;
	padding-top: 0;
	color: #f2f2f2;
}




.myBackground{
	background-image: url(../images/sherlockBG3.jpg);
	background-size: cover;
	height: 100vh;
	/*background-repeat: no-repeat;*/
}

/* this is the new land page css start*/

#optionsCarousel{
	/*max-width: 75%;*/
	min-height: 250px;
	max-height: 250px;
	overflow: hidden;
}

#optionsCarousel2{
	/*max-width: 75%;*/
	min-height: 250px;
	max-height: 250px;
	overflow: hidden;
}

.homeImg, .carousel{
	/*height: 240px;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.homeImg{
	opacity: 1;
	filter: grayscale(10%);
}


.anchorImages{
	position: relative;

}

.options {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  /*visibility: hidden;*/

}


.navColorHome{
	background-color: /*#4e4233*/ rgba(78,66,51, 0.50);
}





.myTextHome {
	/*background-color: rgba(0, 0, 0, 0.35);*/
	text-align: center;
  	color: white;
  	padding: 16px 32px;
  	font-size: 2em;
  	background-color: rgba(0, 0, 0, 0.2);
}
.myTextHome2 {
	background-color: rgba(0, 0, 0, 0.35);
	text-align: center;
  	color: white;
  	padding: 16px 32px;
}


.anchorImages:hover .homeImg{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.89), 0 6px 20px 0 rgba(0, 0, 0, 0.77);
	filter: brightness(130%);
	opacity: 0.75;

}
.anchorImages:hover #fadeAway{
	opacity: 1;
	/*visibility: visible;*/

} /* this is the new land page css end*/

.getStarted{
	margin-top: 86px;
}

.footer{
	color: #f2f2f2;
}
.indexColor p, .indexColor h1{
	color: black;
}


.jumbotron{
	border-radius: 0;
}

/*.newHeight{
	max-height: 250px;
}*/

.myFooter{
	margin: 0 auto;
	width:90%;
	background-color: rgba(192,192,192, 0.20);
}

.box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.44), 0 6px 20px 0 rgba(0, 0, 0, 0.33);
}

.box-shadow-about{

	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.44), 0 6px 7px rgba(0, 0, 0, 0.33);

}

.mobile{
	display: none;
}
.options2{
	transition: .5s ease;
  	opacity: 1;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}


.pHeight{
	max-height: 200px;
	overflow-y: scroll;
}

.readBG{
	background-image: url(../images/londonBG.jpg);
}

.footerList{
	list-style: none;
}




/*.homeImg, .carousel{
	height: 240px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}*/



/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px){
	#jumbo-div{
		height: 100%;

	}
	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.jumbotron h1{
		/*font-size: 10px;*/
	}

	.container h3{
		font-size: 35px;
	}

	 .bigScreen, .verticalLine{
	 	display: none;
	 }

/*	 .bigScrCarousel{
		max-width: 100%;
		max-height: ;
		overflow: hidden;
		display: none;
	}*/

	.mobileCarouse{
		max-height: 25vh;
		overflow: hidden;
	}

	iframe{
		height: 100%;
		width: 100%;

	}

	.galleryEmbed{
		margin: 0 auto;
	}

	#anchorImages{
		display: none;
	}

	.myQuote{
		display: none;
	}

	.desktop{
		display: none;
	}

	/*.options{
		opacity: 1;
	}*/

	.mobile{
		display: block;
	}


}



/*tablet style*/
@media only screen and (min-width: 410px) and (max-width: 960px){
	#jumbo-div{
		height: 100%;

	}
	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.container h3{
		font-size: 35px;

	}
	.mobileCarouse{
		max-height: 25vh;
		overflow: hidden;
	}

	.desktop{
		display: none;
	}

/*	.options{
		opacity: 1;
		visibility: visible;
	}*/


	/*.bigScrCarousel{
		max-width: 100%;
		display: none;
	}
*/

	.bigScreen, .verticalLine{
	 	display: none;
	 }

/*	 #optionsCarousel{
		max-height: 1px;
		overflow: hidden;
	}*/
	iframe{
		height: 100%;
		width: 100%;

	}
	.mobile{
		display: block;
	}



}

@media only screen and (min-width: 375px) and (max-width: 375px) and (min-height: 812px) and (max-height: 812px){
	.mobileCarouse{
		max-height: 168px;
		overflow: hidden;
	}
	.options{
		opacity: 1;
	}


}



/*desktop*/

@media only screen and (min-width: 961px) and (max-width: 1280px){

	.myBackground .forMobile{
		display: none;

	}

	.myBackground {
		background-position: right;
	}
	.options{
		opacity: 1;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-height: 1366px) and (max-height: 1366px){
	.myBackground{
		background-image: url(../images/sherlockBGportrait.jpg);
		background-size: auto;
		background-position: center;
		height: 100vh;
		background-repeat: no-repeat;
	}

	.readBG {
	background-image: url(../images/sherlockBGportrait.jpg);
	}

	.desktop{
		display: none;
	}
	.mobile{
		display: block;
		background-size: cover;
	}

	
	.mobileCarouse{
		/*min-height: 1px;*/
		/*max-height: 10px;*/
		overflow: hidden;
	}

	.options{
		opacity: 1;
		display: none;
	}

	.myTextHome2{
		font-size: 2em;
	}
}

@media only screen and (min-width: 1367px){

	.myBackground .forMobile{
		display: none;
	}

}


